.App {
  flex: 1;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px #ccc;
}
input[type=text] {
  width: 480px;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}
label {
  display: block;
  margin: 10px auto;
}
.form-input-holder {
  padding: 10px;
}
.concerns  .form-input-holder {
  float: left;
}
.game-btn {
  cursor: pointer;
  align-self: center;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  outline: none;
  border:none;
  box-shadow: 2px 2px 10px 1px black;
}
.game-btn:active {
  box-shadow: 2px 2px 10px 1px #acacac;
}
.container-holder {
  display: flex;
}
.box-holder {
  display: inline-block;
  background-color: white;
  z-index: 10;
  padding: 10px;
  border: 1px solid grey;
  margin: 20px;
}
.box-holder img {
  height: 100px;
  width: auto;
}
.concern-button {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.concern-button.selected {
  border-color: black;
  border-width: 2px;
}
.concern-button:hover {
  transform: scale(1.02);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000099;
  z-index: 12;
  display: flex;
  justify-content: center;
}
.success-box {
  align-items: center;
  align-self: center;
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}
.action-button {
  width: 45%;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in 200ms;
}
.action-button:hover {
  transform: scale(1.02);
  transition: all ease-in 200ms;
}
.action-button.green {
  color: white;
  background-color: #6BBD59;
  border: 2px solid #6BBD59;
}
.action-button.back-green {
  color: #6BBD59;
  background-color: white;
  border: 2px solid #6BBD59;
}